<h1><%= @plant.species %></h1>
<p>Nickname: <%= @plant.nickname %></p>
<p>Amount of Water: <%= @plant.amount_of_water %></p>
<p>Amount of Sun: <%= @plant.amount_of_sun %></p>
<p>Created: <%= @plant.created_at %></p>
<%= link_to "<< Back to Plants Overview", plants_path %>
