<!DOCTYPE html>
<html>
  <head>
    <title>PlantPal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
  </head>

  <body>
    <% unless current_user %>
    <div class='welcome-links'>
      <p> <%= link_to 'Sign Up', new_user_path %> <%= link_to 'Sign In', login_path %> </p>
    </div>
    <% else %>
      <nav>
        <div class="container">
          <ul>
            <li><%= link_to 'Plants', plants_path %></li>
            <li><%= link_to 'Categories', categories_path %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
